@charset "UTF-8";

$color-initial: #fff !default;
$color-primary: #3d4f67 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

$color-dark-initial: #292929 !default;
$color-dark-primary: #fcdc7d !default;
$color-dark-secondary: #DCDEE0 !default;
$color-dark-tertiary: #B1B1C4 !default;
$color-dark-quaternary: #d1d1d1 !default;
$color-dark-quinary: #e1e1e1 !default;

$color-gruv-light-initial: #f2e5bc !default;
$color-gruv-light-primary: #7c6f64 !default;
$color-gruv-light-secondary: #282828 !default;
$color-gruv-light-tertiary: #f9f5d7 !default;
$color-gruv-light-quaternary: #d1d1d1 !default;
$color-gruv-light-quinary: #e1e1e1 !default;

$color-gruv-dark-initial: #272727 !default;
$color-gruv-dark-primary: #fabd2f !default;
$color-gruv-dark-secondary: #ebdbb2 !default;
$color-gruv-dark-tertiary: #B1B1C4 !default;
$color-gruv-dark-quaternary: #d1d1d1 !default;
$color-gruv-dark-quinary: #e1e1e1 !default;

@import "~normalize.css";
@import 'framework/Base';
@import 'framework/Blockquote';
@import 'framework/Button';
@import 'framework/Divider';
@import 'framework/Form';
@import 'framework/Grid';
@import 'framework/Link';
@import 'framework/List';
@import 'framework/Spacing';
@import 'framework/Table';
@import 'framework/Typography';
@import 'framework/Image';
@import 'framework/Utility';

@import "Sidebar";
@import "Footer";
@import "Post";

:root {
  --color-initial: #{$color-initial};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
  --color-quaternary: #{$color-quaternary};
  --color-quinary: #{$color-quinary};
}

body.dark {
  --color-initial: #{$color-dark-initial};
  --color-primary: #{$color-dark-primary};
  --color-secondary: #{$color-dark-secondary};
  --color-tertiary: #{$color-dark-tertiary};
  --color-quaternary: #{$color-dark-quaternary};
  --color-quinary: #{$color-dark-quinary};
}

body.gruv-light {
  --color-initial: #{$color-gruv-light-initial};
  --color-primary: #{$color-gruv-light-primary};
  --color-secondary: #{$color-gruv-light-secondary};
  --color-tertiary: #{$color-gruv-light-tertiary};
  --color-quaternary: #{$color-gruv-light-quaternary};
  --color-quinary: #{$color-gruv-light-quinary};
}

body.gruv-dark {
  --color-initial: #{$color-gruv-dark-initial};
  --color-primary: #{$color-gruv-dark-primary};
  --color-secondary: #{$color-gruv-dark-secondary};
  --color-tertiary: #{$color-gruv-dark-tertiary};
  --color-quaternary: #{$color-gruv-dark-quaternary};
  --color-quinary: #{$color-gruv-dark-quinary};
}

.container {
  max-width: inherit;
}

.layout {
  max-width: 112rem;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 2rem 0 2rem;
}

body, input {
  color: var(--color-secondary);
  font-family: 'Cardo', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .01em;
  line-height: 1.6em;
  overflow-y: scroll;
  background-color: var(--color-initial);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: -.1 .5rem;
  font-family: 'Playfair Display', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.content {
  padding: 0 5rem;
}

.section-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-secondary);
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2.5rem;

  &:after {
    content: '';
    height: 1px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background: var(--color-secondary);
  }
}

figure {
  display: block;
  width: 100%;
  height: auto;
  max-width: 250px;

  img {
    margin-bottom: 0;
  }
}

figcaption {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.waterfall {
  background-image: linear-gradient(to bottom, var(--color-primary) 0%, transparent 100%);
  overflow: hidden;
  width: 10px;
  min-width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 200px) and (max-width: 640px) {
  .row .column[class*=" column-"] {
    max-width: 100%;
  }

  .content {
    padding: 0 0;

    h3 {
      margin-top: 3rem;
    }

    .summary, .time-to-read {
      display: none;
    }
  }

  .sidebar {
    position: inherit;
    width: 80%;
    margin: 0 auto;

    h1 {
      font-size: 3.6rem;
    }

    .avatar {
      max-width: 8rem;
    }

    .p-note, .theme-switcher, hr {
      display: none;
    }

    .social {
      width: auto;
      padding-bottom: 5rem;
    }

    nav {
      ul {
        display: inline-flex;
        list-style: none;
        margin-bottom: 1rem;

        li {
          padding: 0 0.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  footer {
    margin-top: 5rem;
    margin-bottom: 7rem;
  }
}
